David Woods <david@birnamdesigns.com>
dsoares <diana.soares@gmail.com>
Frédéric Peschanski <frederic.peschanski@lip6.fr> <frederic.peschanski@lip6.fr>
Frédéric Peschanski <frederic.peschanski@lip6.fr> <fredokun@github.com>
Frédéric Peschanski <frederic.peschanski@lip6.fr> Frederic Peschanski <not provided>
John Lapeyre <lapeyre.math122a@gmail.com>
Robert Dodier <robert.dodier@gmail.com> <robert.dodier@gmail.com>
Robert Dodier <robert.dodier@gmail.com> <robert_dodier@users.sourceforge.net>
Tarn W. Burton <twburton@gmail.com>
